@page
@model Disable2faModel
@{
    ViewData["Title"] = "Wyłącz dwuetapową autentykację";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ta akcja jedynie wyłącza dwuetapową autentykację.</strong>
    </p>
    <p>
        Zablokowanie dwuetapowej autentykacji nie zmieni kluczy użytych w aplikacjach autentykacyjnych. Jeżeli chcesz zmienić klucz użyty w aplikacjach, powinieneś
        <a asp-page="./ResetAuthenticator">zresetować swój klucz autentykacyjny.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Zablokuj dwuetapową autentykację</button>
    </form>
</div>
