@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zapomniane hasło - potwierdzenie";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na Twoją skrzynkę Email została wysłana wiadomość z instrukcjami do zresetowania hasła.
</p>

