@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetowanie hasła - potwierdzenie";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. Aby zalogować się, kliknij <a asp-page="./Login">tutaj</a>.
</p>
